.footer{
    display: flex;
    background: #FFE0B5;
    justify-content: space-between;
}
.contact{
}
.contact li{
    list-style: none;
}
.social a{
    padding: 10px;
} 
.social img{
    padding-top: 10px;
    width: 30px;
}
.copyright{
    font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue';
    display: flex;
    justify-content: center;
    background-color: #D35269;
    color: white;
}